{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Bikes</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"><!-- bootstrap-CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap-select.css' %}"><!-- bootstrap-select-CSS -->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" /><!-- style.css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui1.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" /><!-- fontawesome-CSS -->
<link rel="stylesheet" href="{% static 'css/menu_sideslide.css' %}" type="text/css" media="all"><!-- Navigation-CSS -->
<!-- meta tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<!-- js -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/bootstrap-select.js' %}"></script>
<script>
  $(document).ready(function () {
    var mySelect = $('#first-disabled2');

    $('#special').on('click', function () {
      mySelect.find('option:selected').prop('disabled', true);
      mySelect.selectpicker('refresh');
    });

    $('#special2').on('click', function () {
      mySelect.find('option:disabled').prop('disabled', false);
      mySelect.selectpicker('refresh');
    });

    $('#basic2').selectpicker({
      liveSearch: true,
      maxOptions: 1
    });
  });
</script>
<!-- switcher-grid and list alignment -->
<script src="{% static 'js/tabs.js' %}"></script>	
<script type="text/javascript">
$(document).ready(function () {    
var elem=$('#container ul');      
	$('#viewcontrols a').on('click',function(e) {
		if ($(this).hasClass('gridview')) {
			elem.fadeOut(1000, function () {
				$('#container ul').removeClass('list').addClass('grid');
				$('#viewcontrols').removeClass('view-controls-list').addClass('view-controls-grid');
				$('#viewcontrols .gridview').addClass('active');
				$('#viewcontrols .listview').removeClass('active');
				elem.fadeIn(1000);
			});						
		}
		else if($(this).hasClass('listview')) {
			elem.fadeOut(1000, function () {
				$('#container ul').removeClass('grid').addClass('list');
				$('#viewcontrols').removeClass('view-controls-grid').addClass('view-controls-list');
				$('#viewcontrols .gridview').removeClass('active');
				$('#viewcontrols .listview').addClass('active');
				elem.fadeIn(1000);
			});									
		}
	});
});
</script>
<!-- //switcher-grid and list alignment -->
</head>
<body>
	<!-- Navigation -->
		
		<!-- //Navigation -->
	<!-- header -->
	<header>
		<div class="w3ls-header"><!--header-one--> 
			<div class="w3ls-header-right">
				<ul>
					{% if username == "sign in" %}
						<li class="dropdown head-dpdn">
							<a href="/signin/" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> {{username}}</a>
						</li>
					{% else %}
						<li class="dropdown head-dpdn">
							<a  href="/account/" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> {{username}}</a>
						</li>
					{% endif %}

					{% if username == "sign in" %}

					{% else %}
						<li class="dropdown head-dpdn">
							<a href="/quit/"></i> signout</a>
						</li>
					{% endif %}


					
					
						<div class="header-right">		
	<!-- Large modal -->
					</li>
				</ul>
			</div>
			
			<div class="clearfix"> </div> 
		</div>
		<div class="container">
			<div class="agile-its-header">
				<div class="logo">
					<h1><a href="/index/"><span>EZ</span>buy</a></h1>
				</div>
				<div class="agileits_search">
					<form action="/search/1/0/" method="GET">
						{% csrf_token %}
						<input name="Search" type="text" placeholder="How can we help you today?" required="" />
						<button type="submit" class="btn btn-default" aria-label="Left Align">
							<i class="fa fa-search" aria-hidden="true"> </i>
						</button>
					</form>

				{% if username == "sign in" %}
						
				{% else %}
					<a class="post-w3layouts-ad" href="/post/">Post your items</a>
				{% endif %}
				<div class="clearfix"></div>
			</div>
		</div>
	</header>

	<!-- //header -->
	<!-- breadcrumbs -->
	<div class="w3layouts-breadcrumbs text-center">
		<div class="container">
			<span class="agile-breadcrumbs">
			<a href="/index/"><i class="fa fa-home home_1"></i></a>
			<span>Bikes</span></span>
		</div>
	</div>
	<!-- //breadcrumbs -->
	<!-- Mobiles -->
	{% if username == "sign in" %}
		<head>Please sign in first</head>
	{% else %}
		<div class="total-ads main-grid-border">
		<div class="container">
			<div class="ads-grid">
				<div class="side-bar col-md-3">
					<div class="search-hotel">
					<h3 class="agileits-sear-head">Name contains</h3>
					<form action="/search/1/0/" method="GET">
						<input name="Search" type="text" value="Product name..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Product name...';}" required="">
						<input type="submit" value=" ">
					</form>
				</div>
				
				<!-- <div class="side-bar col-md-3"> -->
					<div class="search-hotel">
						<h3 class="agileits-sear-head">sort</h3>
						<ol>
								<li>
									<a href="/bikes/{{productList.number}}/0/">price from high to low</a>
								</li>
								<li>
									<a href="/bikes/{{productList.number}}/1/">price from low to high</a>
								</li>
						</ul>
					</div>
				 <!-- </div> -->
				<div class="clearfix"></div>
				
				
				</div>
				<div class="agileinfo-ads-display col-md-9">
					<div class="wrapper">					
					
					  <div id="myTabContent" class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
						   <div>
												<div id="container">
								<div class="view-controls-list" id="viewcontrols">
									<label>Results :</label>
								</div>
								<div class="clearfix"></div>
							<ul class="list">
								{% for product in productList %}
									<li>
										<a href="/single/{{product.id}}/">
											<img src="{{product.productImage.url}}" />
											<section class="list-left">
												<h5 class="title">{{product.productName}}</h5>
												<span class="adprice">${{product.productPrice}}</span>
											</section>
											<div class="clearfix"></div>
										</a>
									</li>
								{% endfor %}
						</div>
							</div>
						</div>
						<ul class="pagination pagination-sm">
							{% for number in productList.paginator.page_range %}
								<li><a href="/index/bikes/{{number}}/{{ sortid }}/">{{number}}</a></li>
							{% endfor %}
						</ul>
					  </div>
					</div>
				</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>	
	</div>
	<!-- // Mobiles -->
	<!--footer section start-->		
		
        <!--footer section end-->
</body>
		<!-- Navigation-JavaScript -->
			<script src="{% static 'js/classie.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
		<!-- //Navigation-JavaScript -->
		<!-- here stars scrolling icon -->
			<script type="text/javascript">
				$(document).ready(function() {
					/*
						var defaults = {
						containerID: 'toTop', // fading element id
						containerHoverID: 'toTopHover', // fading element hover id
						scrollSpeed: 1200,
						easingType: 'linear' 
						};
					*/
										
					$().UItoTop({ easingType: 'easeOutQuart' });
										
					});
			</script>
			<!-- start-smoth-scrolling -->
			<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
			<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
			<script type="text/javascript">
				jQuery(document).ready(function($) {
					$(".scroll").click(function(event){		
						event.preventDefault();
						$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
					});
				});
			</script>
			<!-- start-smoth-scrolling -->
		<!-- //here ends scrolling icon -->
	{% endif %}
	
</html>